<div class="row">
    <div class="col-lg-2">
            <%- include('daily_table_1_1.ejs') %>
    </div>
    <div class="col-lg-2">
            <%- include('daily_table_1_1.ejs') %>
    </div>
    <div class="col-lg-2">
            <%- include('daily_table_1_1.ejs') %>
    </div>
    <div class="col-lg-2">
            <%- include('daily_table_1_1.ejs') %>
    </div>
    <div class="col-lg-2">
            <%- include('daily_table_1_2.ejs') %>
    </div>
    <div class="col-lg-2">
            <%- include('daily_table_1_2.ejs') %>
    </div>
    
</div>