<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/navigation.css">
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/Chart_Daily/daily_dashboard_HDV_1_1.css">
<link rel="stylesheet" href="/css/Chart_Daily/menu_left_Daily.css">
<link rel="stylesheet" href="/css/Chart_Daily/daily_dashboard_HDV_title.css">
<link rel="stylesheet" href="/css/Chart_Daily/daily_dashboard_HDV_select.css">

</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <div class="container-fluid homepage" >
        <div class="row">
            <div class="col-lg-2" style="padding: 0; height: 100vh; ">
                <%- include('includes/menu_left_daily') %>
            </div>
            <div class="col-lg-10" style="padding-left: 0; padding-right: 10px;">
                <%- include('includes/daily_dashboard_HDV_title')%>
                <%- include('includes/daily_dashboard_HDV_select') %>
                <%- include('includes/daily_dashboard_HDV_1') %>
            </div>
        </div>
    </div>
<%- include('includes/end.ejs') %>















